<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel=" stylesheet" type="text/css" href="/css/loginForm.css"/>
</head>
<body>

<table>

    <th th:text="#{i18n.selHospitalCaption}">...</th>
    <th th:text="#{i18n.selHospitalCaption}">...</th>

</table>

<div id="selLpu_" class="animate form">
    <form id="selLpu" method="post" action="" autocomplete="on">

        <select>
            <option value="Sony">Sony</option>
            <option value="Toshiba">Toshiba</option>
            <option value="Acer">Acer</option>
            <option value="Asus">Asus</option>
        </select>

        <h1><p th:text="#{selHospitalCaption}">selHospitalCaption</p> </h1>
        <h1 th:text="#{i18n.selHospitalCaption}">i18n.selHospitalCaption</h1>
        <p>
            <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
            <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
        </p>
        <p>
            <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
            <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/>
        </p>
        <p>
            <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
            <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
        </p>
        <p>
            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
        </p>
        <p class="signin button">
            <input type="submit" id="toSelLpu" name="_eventId_next" value="Sign up"/>
        </p>
        <p class="change_link">
            Already a member ?
            <a href="#tologin" class="to_register"> Go and log in </a>
        </p>

        <fieldset id="selLpuActions">
            <input type="submit" id="toAddPhoto" name="_eventId_next"  value="Next"/>
            <input type="submit" name="_eventId_cancel"  value="Cancel"/>
        </fieldset>
    </form>
</div>
</body>
</html>